/*
 Product slider Main CSS code - Hannan--
*/

#wrap{
    height: 100px;
    width: auto;
    margin: 100px 20px;
}

#wrap .main .title{
    text-align:center;
    font-weight: blod;
    color: green;
}

#wrap .main .price{
    text-align:center;
    font-weight: blod;
    color: green;
}
#wrap .main .quantity{
    text-align:center;
    font-weight: blod;
    color: green;
}

/*slick custom css*/
.slick-slide img {
    height: 200px;
    width: 200px;
}